@import url('//db.onlinewebfonts.com/c/d40bbce8f4b00a569beac2454b69231e?family=Oswald');
@import url('//db.onlinewebfonts.com/c/629a55a7e793da068dc580d184cc0e31?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
}

p {
    display: inline;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

html, body {
    margin: 0;
    /* height: 6563px; */
}

a {
    text-decoration: none;
}

.block {
    display: flex;
    flex-direction: column;
}

.carousel-caption{
    margin-bottom: 400px;
}

.big_text{
    font-family: "Oswald";
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: 107px;
    letter-spacing: 4.6080002784729px;
    position: absolute;
    top: 300;
    left: 70px;

}

.lil_text{
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 1.28000009059906px;
    text-align: center;
    opacity: 0.8;
    position: absolute;
    top: 130px;
    left: 205px;

}

.header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
}

.header_nav {
    display: flex;
    font-family: 'Oswald', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20.75px;
    letter-spacing: 1.94px;
    text-transform: uppercase;
    position: absolute;
    top: 50px;
    left: 400px;
    z-index: 2;
}

.header_nav-list {
    display: flex;
    list-style-type: none;
    color: white;
    text-decoration: none;
    position: absolute;
    top: 40px;
    left: 300px;
}

.header_nav-list :not(:last-child) {
    margin-right: 59px;
}

.header_nav-link {
    color: white;
    display: block;
    text-decoration: none;
}

.header_nav-link-underlined {
    border-bottom: 2px solid #4CAF50;
    text-decoration: none;
}

.header_nav-list-item :hover {
    border-bottom: 2px solid #4CAF50;
    cursor: pointer;
    transition: all 0.1s ease;
    text-decoration: none;
}

.digits {
    display: flex;
    flex: 0 0 auto;
    height: 49px;
    align-self: center;
    /* margin-bottom: 19px; */
}

.digits :not(:last-child) {
    padding-right: 9px;
}

.one_digit {
    font-family: 'Oswald', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 1.15px;
    color: #777;
}

.one_digit :hover {
    font-size: 36px;
    color: white;
    line-height: 10px;
    letter-spacing: 2.3px;
    cursor: pointer;
    text-decoration: line-through;
    text-decoration-style: solid;
    text-decoration-color: #4CAF50;
    transition: all 0.3s ease;
}


.screen_sqwd {
    background: white;
    display: flex;
    flex: 0 0 1900px;
    flex-direction: column;
    max-width: 1900px;
    max-height: 825px;
    padding: 149px 353px 117px 105px;
}

.guy {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    min-width: 590px;
    min-height: 391px;
    background: url(../images/sqwd/guy.png) no-repeat;
    background-color: white;
    background-position: right;
    z-index: 2;
}

.standing {
    position: relative;
    top: -215px;
    left: 203px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    min-width: 506px;
    min-height: 391px;
    background: url(../images/sqwd/standing.png) no-repeat;
    background-color: white;
    background-position: left;
    z-index: 0;
}

.text_we-are {
    display: inline;
    font-family: 'Oswald', 'Arial', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 2.3px;
    color: #333;
    text-transform: uppercase;
    padding-top: 82px;
    padding-left: 80px;
}

.text_the-sqwd {
    display: inline;
    font-family: 'Open Sans', 'Segoe UI', sans-serif;
    font-weight: 300;
    font-size: 42px;
    line-height: 57px;
    letter-spacing: 2.69px;
    color: #504E4E;
    text-transform: uppercase;
    padding-top: 4px;
    padding-left: 83px;
    padding-bottom: 32px;
}

.text_quote {
    display: inline;
    min-width: 281px;
    font-family: 'Open Sans', 'Segoe UI', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 1.26px;
    color: #5B5858;
}

.text_quote-for-guy {
    margin-left: 140px;
}

.text_quote-for-standing {
    margin-left: 288px;
    margin-top: 236px;
}

.block_green-translucent {
    width: 309px;
    height: 418px;
    margin-top: 71px;
    margin-left: 222px;
    position: absolute;
    align-self: center;
    background: #4CAF50;
    opacity: 0.8;
    z-index: 1;
}


.block_services {
    display: flex;
    position: relative;
    flex-direction: column;
    flex: 0 0 0;
    height: 690px;
    background: #FBFBFB;
    padding: 129px 0 136px 175px;
    align-content: center;
    justify-content: center;
}

.services_row, .team_row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.services_row :not(:last-child) {
    margin-right: 28px;
}

.services_container {
    background: white;
    width: 373px;
    height: 260px;
    padding: 50px 48px 35px 44px;
}

.services_container :first-of-type:hover {
    cursor: pointer;
    opacity: 100%;
}

.services_container:hover {
    border-bottom: #4CAF50 2px solid;
}

.services_container-caption {
    font-family: 'Oswald', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.28px;
    text-transform: uppercase;
    color: #252525;
}

.services_container-caption-underlined {
    border-bottom: #252525 2px solid;
    padding-bottom: 15px;
}

.services_container-read-more {
    display: inline-block;
    font-family: 'Oswald', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.64px;
    text-transform: uppercase;
    color: #929292;
    margin-top: 19px;
}

.services_container-text {
    font-family: 'Open Sans', 'Segoe UI', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 1.01px;
    color: #777;
    margin-top: 36px;
}

.services_container-icon-branding {
    align-self: flex-end;
    position: absolute;
    margin-left: 225px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: white;
    background: url(../images/services/graphic-design.png) no-repeat;
    background-blend-mode: normal;
    opacity: 50%;
    box-shadow: 0 0 20px #DBDBDB;
    background-position: center;
}

.services_container-icon-design {
    align-self: flex-end;
    position: absolute;
    margin-left: 225px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: white;
    background: url(../images/services/pencil-case.png) no-repeat;
    background-blend-mode: normal;
    opacity: 50%;
    box-shadow: 0 0 20px #DBDBDB;
    background-position: center;
}

.services_container-icon-development {
    align-self: flex-end;
    position: absolute;
    margin-left: 225px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: white;
    background: url(../images/services/coding.png) no-repeat;
    background-blend-mode: normal;
    opacity: 50%;
    box-shadow: 0 0 20px #DBDBDB;
    background-position: center;
}

.services_container-read-more :hover {
    cursor: pointer;
    color: black;
}

/* The main heading used on several pages*/
.heading {
    font-family: 'Oswald', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 3.07px;
    margin-bottom: 94px;
}

.heading_underlined {
    border-bottom: #252525 2px solid;
    padding-bottom: 7px;
}


.block_works {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 1 0;
    min-height: 1989px;
    background: white;
    padding: 146px 217px 173px 170px;
}

.works_menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    text-align: center;
    font-family: 'Open Sans', 'Segoe UI', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.83px;
    text-transform: uppercase;
}

.works_menu-list {
    display: flex;
    list-style-type: none;
    align-items: flex-start;
}

.works_menu-list :first-child {
    padding-inline-start: 0;
}

.works_menu-list-item {
    display: inline;
    margin-right: 41px;
}

.works_menu-link {
    color: #BEBEBE;
}

.works_menu-link:hover {
    cursor: pointer;
    color: #252525;
    font-weight: 600;
}

.works_photography-photo-kitten-container {
    position: relative;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 522px;
    left: 95px;
}

.works_photography-photo-camera-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 146px;
    left: 760px;
}

.works_photography-photo-macbook-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1208px;
    left: 220px;
}

.works_photography-photo-groovemade-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 843px;
    left: 895px;
}

.works_photography-kitten {
    background: url(../images/works/kitten.png) center no-repeat;
    width: 679px;
    height: 453px;
}

.works_photography-camera {
    background: url(../images/works/photo.png) center no-repeat;
    width: 727px;
    height: 482px;
}

.works_photography-macbook {
    background: url(../images/works/macbook.png) no-repeat;
    width: 455px;
    height: 444px;
}

.works_photography-groovemade {
    background: url(../images/works/mac.png) center no-repeat;
    width: 455px;
    height: 444px;
}

.works_photography-caption {
    display: block;
    color: #252525;
    font-family: 'Oswald', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 3.07px;
    text-transform: uppercase;
}

.works_photography-caption a:hover {
    cursor: pointer;
    text-decoration-line: line-through;
    text-decoration-thickness: 3px;
    text-decoration-color: #70BF73;
    text-underline-position: auto;
}

.works_photography-annotation {
    display: inline-block;
    position: relative;
    width: 336px;
    flex-direction: column;
    height: 150px;
    align-self: center;
    padding-top: 17px;
}

.works_photography-annotation-title {
    display: inline;
    position: relative;
    font-family: 'Open Sans', 'Segoe UI', sans-serif;
    color: #252525;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 1.15px;
}

.works_photography-annotation-main-text {
    font-family: 'Open Sans', 'Segoe UI', sans-serif;
    position: relative;
    max-width: 579px;
    font-size: 13px;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0.83px;
    color: #C2C2C2;
    padding-top: 20px;
    padding-bottom: 20px;
}

.works_photography-annotation-read-more {
    font-family: 'Open Sans', 'Segoe UI', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.83px;
    color: #252525;
}

.works_photography-annotation-read-more a:hover {
    cursor: pointer;
    text-decoration-line: line-through;
    text-decoration-thickness: 3px;
    text-decoration-color: #70BF73;
    text-underline-position: auto;
}

.works_photography-caption-kitten {
    position: relative;
    top: 271px;
    left: 494px;
}

.works_photography-caption-camera {
    position: relative;
    top: 280px;
    left: 0;
}

.works_photography-caption-macbook {
    position: relative;
    top: 268px;
    left: 360px;
}

.works_photography-caption-groovemade {
    position: relative;
    top: 266px;
    left: -140px;
}

.works_view-more {
    display: inline-flex;
    position: absolute;
    left: 1278px;
    top: 1629px;
    color: #252525;
    font-family: 'Oswald', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 2px;
    text-align: right;
}

.works_view-more a:hover {
    cursor: pointer;
    text-decoration-line: line-through;
    text-decoration-thickness: 3px;
    text-decoration-color: #70BF73;
    text-underline-position: auto;
}



.block_team {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 0 0 0;
    height: 845px;
    background: #FBFBFB;
    padding: 129px 0 167px 175px;
    align-content: center;
    justify-content: center;
}

.team_row {
    display: flex;
}

.team_row :not(:last-child) {
    margin-right: 28px;
}

.team_container {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    align-content: center;
    width: 370px;
    height: 398px;
    overflow: hidden;
}

.team_container-jones {
    width: 370px;
    height: 398px;
    background: url(../images/team/jones.png) no-repeat;
}

.team_container-fraup {
    width: 370px;
    height: 398px;
    background: url(../images/team/fraup.png) no-repeat;
}

.team_container-cahill {
    width: 370px;
    height: 398px;
    background: url(../images/team/cahill.png) no-repeat;
}

.team_member-description {
    position: relative;
    width: 370px;
    height: 155px;
    background: white;
    opacity: 0.5;
    mix-blend-mode: normal;
    top: 100px;
}

.team_member-description :nth-last-child(n) {
    text-align: center;
    align-items: center;
    align-content: center;
    margin-right: 0;
}

.team_member-description:hover {
    cursor: pointer;
    opacity: 0.92;
    top: 0;
    transition: top 0.25s linear 0s;
    transition: opacity 0.25s linear 0s;
}

.team_member-name {
    display: flex;
    flex-direction: column;
    font-family: 'Oswald', 'Arial', sans-serif;
    line-height: 27px;
    letter-spacing: 1.15px;
    text-transform: uppercase;
    color: #252525;
    padding-top: 13px;
    padding-bottom: 15px;
}

.team_member-occupation {
    font-family: 'Oswald', 'Arial', sans-serif;
    line-height: 18px;
    letter-spacing: 1.15px;
    color: #252525;
}

.team_member-motto {
    font-family: 'Open Sans', 'Segoe UI', sans-serif;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 1.01px;
    margin-top: 12px;
}

.team_member-name-stroke {
    display: inline-block;
    border: #252525 1px solid;
    width: 45px;
    margin-top: 16px;
}


/**
CSS rules for footer block
*/

.block_footer {
    display: grid;
    grid-template-rows: 8fr 5fr 6fr 1fr;
    grid-template-columns: 1fr 1fr;
    height: 1200px;
    align-items: center;
}

.footer_quote {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    background: white;
    align-self: center;
    align-items: center;
}

.footer_quote-text {
    margin: 0;
    width: 735px;
    font-family: 'Open Sans', 'Segoe UI', sans-serif;
    font-size: 14px;
    align-self: center;
    line-height: 31px;
    letter-spacing: 0.9px;
    text-align: center;
    color: #373737;
}

.footer_quote-author {
    display: inline;
    margin-bottom: 25px;
}

.footer_quote-author-name {
    font-family: 'Oswald', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1.15px;
    text-transform: uppercase;
    color: #373737;
}

.footer_quote-author-occupation {
    font-family: 'Oswald', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: lighter;
    line-height: 27px;
    letter-spacing: 1.15px;
    color: #BEBEBE;
}

.footer_quote-commas {
    display: inline-flex;
    width: 20px;
    height: 20px;
    background: url(../images/footer/quote999.png) no-repeat;
    margin-top: 31px;
    margin-bottom: 29px;
}

.footer_quote-stars-container {
    display: inline-flex;
    margin-bottom: 29px;
}

.footer_quote-stars-container :not(:last-child) {
    margin-right: 9px;
}

.footer_quote-star {
    width: 15px;
    height: 15px;
    background: url(../images/footer/star.png);
}

.footer_quote-star-active {
    width: 15px;
    height: 15px;
    background: url(../images/footer/star.png);
    opacity: 1;
}

.footer_quote-star-passive {
    opacity: 0.2;
}

.footer_quote-star:hover {
    cursor: pointer;
}

.footer_quote-stroke {
    width: 511px;
    border: #D8D8D8 0.5px solid;
    opacity: 0.5;
}

.footer_work {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background: #FBFBFB;
    padding-top: 69px;
    padding-bottom: 100px;
}

.footer_work-briefcase {
    width: 35px;
    height: 35px;
    background: url(../images/footer/briefcase.png) no-repeat;
    margin-bottom: 19px;
}

.footer_work-mail {
    width: 35px;
    height: 35px;
    background: url(../images/footer/mail.png) no-repeat;
    margin-bottom: 19px;
}

.footer_card-caption {
    display: inline;
    font-family: 'Oswald', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 35.6px;
    letter-spacing: 2.67px;
    text-align: center;
}

.footer_card-description {
    font-family: 'Open Sans', 'Segoe UI', sans-serif;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 1.56px;
    text-align: center;
    margin-top: 22px;
}

.footer_contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background: #70BD59;
    padding-top: 69px;
    padding-bottom: 100px;
}

.footer_card-description.footer_card-description-work,
.footer_card-caption.footer_card-caption-work {
    color: #373737;
}

.footer_card-description.footer_card-description-contact,
.footer_card-caption.footer_card-caption-contact {
    color: #FFFFFF;
}

.footer_socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: span 2;
    height: 100%;
    background: #2E2E2E;
    padding-top: 142px;
    text-align: center;
}

.footer_socials-text {
    font-family: 'Oswald', 'Arial', sans-serif;
    font-weight: lighter;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.83px;
    text-align: center;
    mix-blend-mode: normal;
    opacity: 0.5;
    color: #FFFFFF;
    padding-bottom: 39px;
}

.footer_socials-icons-container {
    width: 138px;
    display: flex;
    flex-direction: row;
}

.footer_socials-icons-container :not(:last-child) {
    margin-right: 21px;
}

.footer_socials-icon {
    border-radius: 16px;
}

.footer_socials-icon:hover {
    cursor: pointer;
    box-shadow: 2px 5px 30px #5B5858;
}

.footer_socials-icon-fb {
    background: url(../images/footer/facebook.png) no-repeat;
    width: 32px;
    height: 32px;
}

.footer_socials-icon-tw {
    background: url(../images/footer/twitter.png) no-repeat;
    width: 32px;
    height: 32px;
}

.footer_socials-icon-pin {
    background: url(../images/footer/pinterest.png) no-repeat;
    width: 32px;
    height: 32px;
}

.footer_copyright {
    grid-column: span 2;
    height: 100%;
    align-items: center;
    background: #252525;
}

.footer_copyright-text {
    font-family: 'Oswald', 'Arial', sans-serif;
    font-weight: lighter;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.83px;
    text-align: center;
    mix-blend-mode: normal;
    opacity: 0.5;
    color: #FFFFFF;
    padding-top: 21px;
}