@font-face {
	font-family: 'name', sans-serif;
	src: url('../fonts/name.woff2') format('woff2'),
	url('../fonts/name.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'name', sans-serif;
	src: url('../fonts/name.woff2') format('woff2'),
	url('../fonts/name.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'name', sans-serif;
	src: url('../fonts/name.woff2') format('woff2'),
	url('../fonts/name.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
